*{
	padding: 0;
	margin: 0;
}
.clear{
	clear: both;
}
body{
	width: 100%;
	height: auto;
	font-family: 微软雅黑;
	font-size: 12px;
	background-color: #F7F5FA;
	color: #716B7A;
	text-shadow: 0 1px 0 #fff;
	padding-left: 30px;
	padding-top: 20px;
}
nav{
	margin: 10px;
	width: 600px;
	height: 30px;
	line-height: 30px;
	border:1px solid #ccc;
}
nav div{
	width: 150px;
	text-align: center;
	height: 30px;
	float: left;
	display: block;
	font-size: 20px;
	border-right: 1px solid #cccccc;
}
nav ul{
	float: left;
	width: 400px;
	height: 30px;
	line-height: 30px;
	list-style: none;
}
nav ul li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	line-height: 30px;
	color: #3A64A2;
	cursor: pointer;
	border-right: 1px solid #cccccc;
}
nav ul li.selected{
	color: #A40000;
	border-bottom: 1px solid #F7F5FA;
	cursor: auto;
}



.addua{
	width: 1000px;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #cccccc;
	border-bottom:  1px solid #cccccc;
	padding: 5px;
}
.addua #uname{
	width:140px;
	margin-right: 10px;
}
.addua #ustr{
	width:580px;
	margin-right: 10px;
}
.addua #ulevel{
	width:25px;
	margin-right: 10px;
}
.addua span{
	cursor: pointer;
	color: #136EC2;
}
#uatable{

}
#uatable .uaitem{
	width: 1000px;
	height: 24px;
	overflow: hidden;
	line-height: 24px;
}
#uatable .uaitem div{
	float: left;
	height: 20px;
	text-align: left;
	overflow: hidden;
}
#uatable .uaitem div.uname{
	width: 200px;
}
#uatable .uaitem div.ustr{
	width: 720px;
}
#uatable .uaitem div.ulevel{
	width: 30px;
}
#uatable .uaitem div.udel{
	width: 40px;
	text-align: center;
	cursor: pointer;
	color: #A40000;
}
#domain #domainname{
	width: 300px;
	margin-left: 200px;
}
#domain #selectdomain{
	width: 200px;
}
#domain #deldomain{
	margin-left: 5px;
}

#cookietable{
	width: 980px;
	height: auto;
	margin: 5px;
}
#cookietable .addCookie{
	padding: 10px;
	background-color: #F9F6C9;
	border: 1px dashed #ccc;
}
#cookietable .addCookie input,#cookietable .addCookie select{
	margin-left: 3px;
	margin-right: 12px;
}
#cookietable .addCookie button{
	padding: 5px;
	background-color: #3B99BB;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	box-shadow: 2px;
}
.CookieItem{
	padding: 10px;
	width: 95%;
	clear: both;
	height: auto;
}
.CookieItem .CookieItemHead{
	height: 30px;
	line-height: 30px;
	clear: right;
	display: block;
}
.CookieItem .CookieItemHead div{
	float: left;
	display: block;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	font-size: 14px;
	font-weight: bold;
}
.CookieItem .CookieItemHead div.CookieItemName{
	width: 300px;
}
.CookieItem .CookieItemHead div.CookieItemType{
	width: 60px;
}
.CookieItem .CookieItemHead div.CookieItemExprie{
	width: 200px;
}
.CookieItem .CookieItemHead div.CookieItemReflush{
	width: 70px;
}
.CookieItem .CookieItemHead div.CookieItemReDelete{
	width: 80px;
	color: #A40000;
	cursor: pointer;
}
.CookieItem .CookieValue{
	clear: both;
	margin-top: 5px;
}
#cookietable .addCookieValue{
	padding: 10px;
	width: 685px;
	background-color: #F9F6C9;
	border: 1px dashed #ccc;
}
#cookietable .addCookieValue input{
	margin-left: 3px;
	margin-right: 12px;
}
#cookietable .addCookieValue button{
	padding: 5px;
	background-color: #3B99BB;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	box-shadow: 2px;
}
.CookieValueItem{
	height: 30px;
	line-height: 30px;
	clear: both;
	width: 500px;
	display: block;
}
.CookieValueItem div{
	float: left;
	display: block;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}
.CookieValueItem div.CookieValueItemName{
	width: 180px;
}
.CookieValueItem div.CookieValueItemValue{
	width: 200px;
}
.CookieValueItem div.CookieValueItemDelete{
	width: 100px;
	cursor: pointer;
	color: #A40000;
}