body{
	width: 440px;
	height: auto;
	font-family: 微软雅黑;
	font-size: 12px;
	background-color: #F7F5FA;
	color: #716B7A;
	padding: 5px;
	margin: 0;
	overflow: hidden;
	text-shadow: 0 1px 0 #fff;
}
.tabline{
	width: 100%;
	height: 24px;
	margin: 2 auto;
	overflow: hidden;
}

.tabline .tabc{
	background-color: #55744E;
	width: 84%;
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-shadow: 0 1px 0 #000000;
	float: left;;
}
.tabline .tabr{
	width: 15%;
	border-radius: 4px;
	cursor: pointer;
	color: #ffffff;
	text-shadow: 0 1px 0 #000000;
	display: block;
	text-align: center;
	float: right;
	height: 24px;
	line-height: 24px;
	background-color: #575763;

}
#ua_switch span{
	display: inline-block;
	background-color: #E5E3E9;
	color: #000000;
	display: block;
	float: left;
	cursor: pointer;
	margin: 2px;
	padding: 4px;
	border-radius: 2px;
}
.clear{
	clear: both;
}
#cookiemanger{
	margin-top: 5px;
}
#cookiemanger .cookie{
	margin-bottom: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid #344F3E;
	border-radius: 0 5px;
}
#cookiemanger .cookie span.label{
	width: 80px;
	padding-left: 20px;
	text-align: right;
	padding-right: 10px;
	display: inline-block;
}
#cookiemanger .cookie select{
	width: 250px;
	display: inline-block;
}